

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap" rel="stylesheet">


  <div class="link-first-block">
  <section id="link-first-block">
  <div class="first-login">
  <a href="/users/sign_in" class="btn btn-border"><span>ログイン</span></a>
  <a href="/users/sign_up" class="btn btn-border"><span>新規登録</span></a>
  </div>
 
</section>
  </div>


  <div class="second-setumei-block">
  <h1 class="about">このサイトの使い方 </h1>
  <div class="flex_test-box">
    <div class="flex_test-item">
    <%= image_tag 'top1.png' %>
    </div>
     <div class="flex_test-item">
     <%= image_tag 'top2.png' %>
    </div>
     <div class="flex_test-item">
     <%= image_tag 'top3.png' %>
    </div>
</div>
</div>

<div class="offer-wrapper">
    <div class= "container">
    <h1>こんな方におススメ！</h1>
    <div class="offers">
      <div class="offer">
      <div class=imgoffer>
      <%= image_tag 'motibe.down1.png' %>
      </div>
        <h4>スランプに陥ってしまった人</h4>
      </div>
      <div class="offer">
      <div class=imgoffer>
      <%= image_tag 'motibe.down2.png' %>
      </div>
        <h4>どうしてもやる気が出ない人</h4>
      </div>
    </div>
    </div>



  <div class="login-block">
  <a href="/users/sign_in" class="btn btn-border"><span>ログイン</span></a>
  <a href="/users/sign_up" class="btn btn-border"><span>新規登録</span></a>
  </div>



  <footer>    
  </footer>
</body>

<link rel="stylesheet" type="tops/css" href="stylesheets/tops.css">