
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap" rel="stylesheet">


  <div class="link-first-block">
  <section id="link-first-block">
 
</section>
  </div>


  <div class="second-setumei-block">
  <h1 class="Edu VIC WA NT Beginner', cursive">About </h1>
  </div>

  <div class="flex_test-box">
    <div class="flex_test-item">
    <%= image_tag 'top1.png' %>
    </div>
     <div class="flex_test-item">
     <%= image_tag 'top2.png' %>
    </div>
     <div class="flex_test-item">
     <%= image_tag 'top3.png' %>
    </div>
</div>




  <div class="third-login-block">
  <h2><li><%= link_to "ログイン", new_user_session_path %></li></h2>
  <h2><li><%= link_to "新規登録", new_user_registration_path %></li><h2>
  </div>



  <footer>    
  </footer>
</body>

<link rel="stylesheet" type="tops/css" href="stylesheets/tops.css">